/* Các tùy chỉnh CSS của giao diện nên để vào đây */
@media screen and (max-width: 768px) {
  .table-bordered {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.container {
  padding-left: 50px;
  padding-right: 50px;
}

.banner img {
  margin: calc(50vh - 300px) auto 30px auto;
  max-height: 300px;
}

.main-search {
  max-width: 90%;
  margin: auto;
}

#alert-vhttp {
  display: none;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.box-content {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #3dc2ff;
  box-shadow: 3px 3px 5px #d3d3d3;
  border-color: #d3d3d3 gray gray #d3d3d3;
  border-style: solid;
  border-width: 1px;
}

.pw-card {
  padding: 5px 10px;
}

.pw-card-content {
  color: #000;
  border-radius: 10px;
  padding: 5px;
  background: white;
  font-size: .8em;
  line-height: 18px;
  display: inline-block;
  position: relative;
  box-shadow: 3px 3px 5px #d3d3d3;
  border-color: #d3d3d3 gray gray #d3d3d3;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  height: 150px;
  width: 100%;
}

.pw-card-left {
  width: 140px;
  float: left;
}
.pw-card-left img {
  max-height: 140px;
  max-width: 140px;
}
.pw-card-right {
  width: calc(100% - 150px);
  float: right;
}

table {
  background: white;
}

.box-image {
  height: 200px;
  line-height: 200px;
  text-align: center;
}

.box-image img {
  width: -webkit-fill-available;
  max-width: 200px;
  max-height: 200px;
}

.box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  overflow: hidden;
  font-weight: bold;
}

.goiy {
  position: relative;
}

.danhsachgoiy {
  position: absolute;
  width: 100%;
  background: #fff;
  max-height: 400px;
  overflow-y: scroll;
  display: none;
  z-index: 10;
  box-shadow: 3px 3px 5px #d3d3d3;
  border-color: #d3d3d3 gray gray #d3d3d3;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.danhsachgoiy div:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.danhsachgoiy div:hover {
  background-color: lightgreen;
}

#pw-dismiss {
  width: 100%;
  height: 100vh;
  z-index: 5;
  display: none;
  position: fixed;
}

.pw-image {
  width: 128px;
  height: 128px;
  border-radius: 10px;
}

.pw-image-box {
  float: left;
  position: relative;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.pw-image-click {
  background: white;
  border-radius: 50%;
  position: absolute;
  font-size: 1.5em;
  right: -5px;
  top: -5px;
}

.pw-image-click:hover {
  color: red;
}

.pw-image-panel {
  margin-bottom: 5px;
}

.pw-none {
  display: none !important;
}

.pw-alert {
  position: fixed;
  bottom: 10px;
  right: 10px;
  min-width: 200px;
  display: none;
  z-index: 10000;
}

.ui-datepicker {
  z-index: 10000 !important;
}

.sm-thumbnail {
  width: 64px !important;
  height: 64px !important;
  background: url('/themes/default/images/thumbnail-xxs.jpg') !important;
}
